---
import "@fontsource-variable/jetbrains-mono";
import { CollectionEntry, getCollection } from "astro:content";
import { format } from "date-fns";
import BlogLayout from "../../layouts/BlogLayout.astro";
import { ContentContainer } from "../../components/ContentContainer";
import DefaultLayout from "../../layouts/DefaultLayout.astro";
import { SectionHeader } from "../../components/SectionHeader";
import clsx from "clsx";
// MD components
import Pre from "../../components/blog/Pre.astro";

export async function getStaticPaths() {
  const posts = await getCollection("blog");
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: post,
  }));
}
type Props = CollectionEntry<"blog">;

const post = Astro.props;
const { Content, ...rest } = await post.render();
---

<DefaultLayout title="Blog Post">
  <ContentContainer class="py-12">
    <SectionHeader
      subtitle={format(post.data.pubDate, "MMMM d, yyyy")}
      align="left"
      className="mb-12"
      hasGradientTitle={true}
    >
      {post.data.title}
    </SectionHeader>
    <div
      class={clsx(
        "max-w-none mx-auto prose dark:prose-invert",
        "prose-code:before:hidden prose-code:after:hidden prose-code:px-1.5 prose-code:py-0.5 prose-code:rounded prose-code:bg-gray-100 dark:prose-code:bg-gray-700",
      )}
    >
      <Content components={{ pre: Pre }} />
    </div>
  </ContentContainer>
</DefaultLayout>
