---
import { getCollection } from "astro:content";
import { format } from "date-fns";
import { ContentContainer } from "../../components/ContentContainer";
import DefaultLayout from "../../layouts/DefaultLayout.astro";
import { SubsectionHeader } from "../../components/SubsectionHeader";
import { Carousel } from "../../components/Carousel";
import { Image } from "astro:assets";
import banner from "../../assets/writing.jpg";
import { CarouselItem } from "../../components/Carousel";
import { BlogPostListItem } from "@components/blog/BlogPostListItem";

const externalPosts = (await getCollection("externalPost"))
  .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
  .map((el) => el.data);

const posts = (await getCollection("blog"))
  .filter((p) => p.data.draft !== true)
  .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());
---

<DefaultLayout title="Grant Sander Blog" isFat>
  <div class="relative">
    <Image
      src={banner}
      alt="Banner"
      class="h-48 lg:h-64 w-full object-cover"
      loading="eager"
      priority={true}
    />
    <div
      class="absolute inset-0 bg-gradient-to-b from-white dark:from-gray-800 to-transparent"
    >
    </div>
  </div>

  <ContentContainer class="py-12" isFat>
    <SubsectionHeader subtitle="From places elsewhere." className="mb-8">
      External Blog Posts
    </SubsectionHeader>
    <Carousel
      items={externalPosts.map((post) => ({
        title: post.title,
        description: post.description,
        href: post.href,
        date: post.pubDate,
        subtitle: post.platform,
        subsubtitle: format(post.pubDate, "MMMM yyyy"),
      }))}
      itemClassname="w-5/6 sm:w-[calc(50%-0.75rem)]"
      shouldClipText={true}
      className="mb-24"
    />

    <SubsectionHeader className="mb-8" subtitle="Posts on my own behalf.">
      Personal Blog Posts
    </SubsectionHeader>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-x-8 gap-y-12">
      {posts.map((post) => <BlogPostListItem {...post} />)}
    </div>
  </ContentContainer>
</DefaultLayout>
