---
import { getCollection } from "astro:content";
import { ContentContainer } from "../../components/ContentContainer";
import DefaultLayout from "../../layouts/DefaultLayout.astro";

const posts = (await getCollection("blog")).sort(
  (a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf(),
);
---

<DefaultLayout title="Blog">
  <ContentContainer>
    <div>Under construction...</div>
  </ContentContainer>
</DefaultLayout>
