@tailwind utilities;

html {
    font-size: 18px;
    font-family: "Montserrat", sans-serif;
    scroll-behavior: smooth;
}

html, body {
    @apply overflow-x-hidden;
}

.font-fancy {
    font-family: "Sansita Swashed", cursive;
}




@layer utilities {
    .text-gradient {
        @apply bg-gradient-to-r from-primary-800 via-secondary-400 to-primary-600 bg-clip-text text-transparent;
    }
    .bg-primary-gradient {
        @apply bg-gradient-to-tr from-primary-400 via-secondary-100 to-primary-200;
    }
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

img#headshot {
    mask-image: linear-gradient(to bottom, black 50%, transparent);
}
