@tailwind utilities;

html {
    font-size: 18px;
    font-family: "Montserrat", sans-serif;
    scroll-behavior: smooth;
}

html, body {
    @apply overflow-x-hidden;
}

.font-fancy {
    font-family: "Sansita Swashed", cursive;
}




@layer utilities {
    .text-gradient {
        @apply
            bg-gradient-to-r from-primary-800 via-secondary-400 to-primary-600 bg-clip-text text-transparent
            dark:from-primary-200 dark:via-secondary-500 dark:to-primary-400
        ;
    }
    .bg-primary-gradient {
        @apply bg-gradient-to-tr from-primary-800 via-secondary-500 to-primary-600;
    }
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

img#headshot {
    mask-image: linear-gradient(to bottom, black 50%, transparent);
}

pre.shiki {
    --shiki-color-text: #EEEEEE;
    --shiki-color-background: theme("colors.gray.300");
    --shiki-token-constant: #660000;
    --shiki-token-string: #770000;
    --shiki-token-comment: #880000;
    --shiki-token-keyword: #990000;
    --shiki-token-parameter: #AA0000;
    --shiki-token-function: #BB0000;
    --shiki-token-string-expression: #CC0000;
    --shiki-token-punctuation: #DD0000;
    --shiki-token-link: #EE0000;

    @apply relative;
    font-family: "JetBrains Mono Variable", monospace;

    .language-id {
        @apply absolute bottom-2 right-2 leading-none;
    }
}
