---
import DefaultLayout from "../layouts/DefaultLayout.astro";
import _portrait from "../assets/headshot.png";
import { getOptimizedImageSrc } from "../utils/getOptimizedImageSrc";
import { ContentContainer } from "../components/ContentContainer";
import { OptimizedImage } from "../components/OptimizedImage";
import { Header } from "../components/Header";
import { AboutBanner } from "../components/homepage/AboutBanner";
import { BackgroundAndExperience } from "../components/homepage/BackgroundAndExperience";
import { Projects } from "../components/homepage/Projects";
import { Content } from "../components/homepage/Content";
import type { Project } from "../components/homepage/Projects";
import type { IExperience } from "../components/homepage/BackgroundAndExperience";
import { ImageMetadata } from "astro";
import type { EducationItem } from "../components/homepage/BackgroundAndExperience";

import FormidableIcon from "../assets/Formidable-Icon.png";
import Coinbase from "../assets/coinbase-icon.png";
import Synapse from "../assets/synapse.png";
import Henri from "../assets/henri.png";
import Artisan from "../assets/Artisan.png";
import ASU from "../assets/asu.png";
import groqd from "../assets/groqd-arcade.png";
import Clips from "../assets/clips.png";
import Mandelbruh from "../assets/mandelbruh.png";
import Zephyr from "../assets/zephyr.png";
import Pokedex from "../assets/pokedex.png";
import GifMaker from "../assets/gif-maker.png";

const portrait = await getOptimizedImageSrc({
  src: _portrait,
  width: 600,
  loading: "eager",
  fetchPriority: "high",
});

const experiences = await Promise.all(
  (
    [
      {
        title: "VP of Engineering",
        company: "Formidable",
        description: `Helping client engineering teams shine their brightest. Overseeing the development of open source software and community outreach.`,
        time: "June 2022 &ndash; current",
        logo: FormidableIcon,
      },
      {
        title: "Sr. Software Engineer",
        company: "Coinbase",
        description: `Full stack web and mobile on the Platform team. Built client SDKs and developer tools to help third parties integrate with Coinbase's fiat payment rails.`,
        time: `Nov. 2021 &ndash; June 2022`,
        logo: Coinbase,
      },
      {
        title: "Sr. Software Engineer",
        company: "Formidable Labs",
        description: `Software consultant, building software and helping others build software better. Focus on front-end web and native mobile using primarily JS tooling.`,
        time: `Mar. 2021 &ndash; Nov. 2021`,
        logo: FormidableIcon,
      },
      {
        title: "Sr. Software Engineer",
        company: "Synapse Studios",
        description: `Team lead on health/insurance tech client. Full-stack web and mobile. TypeScript, React, React Native, and Node.js.`,
        time: `Jan. 2020 &ndash; Mar. 2021`,
        logo: Synapse,
      },
      {
        title: "Sr. Software Engineer",
        company: "Henri Home",
        description: `Full-stack web and mobile development. React Native, Vue.JS, and Ruby on Rails.`,
        time: `Sept. 2019 &ndash; Jan. 2020`,
        logo: Henri,
      },
      {
        title: `Software Engineer`,
        company: "Artisan Colour",
        description: `Full-stack web development of eCommerce sites and internal tools. Vue.js, NodeJS, and MongoDB.`,
        time: `Aug. 2018 &ndash; Sept. 2019`,
        logo: Artisan,
      },
      {
        title: `Software Engineer`,
        company: "COSma Learning",
        description: `Development and R&D of custom online math courseware. JavaScript, PHP, and MySQL.`,
        time: `Jan. 2015 &ndash; Aug. 2018`,
      },
      {
        title: `Math Instructor`,
        company: "Arizona State Univ.",
        description: `Taught calculus and precalculus. Lead professional development workshops. R&D of online courseware.`,
        time: `May 2014 &ndash; Aug. 2018`,
        logo: ASU,
      },
    ] as (IExperience & { logo: ImageMetadata })[]
  ).map(async (exp) => ({
    ...exp,
    logo: exp.logo
      ? await getOptimizedImageSrc({ src: exp.logo, width: 100 })
      : undefined,
  })),
);

const educationItems: EducationItem[] = await Promise.all(
  [
    {
      time: "2018",
      title: "M.A - Mathematics",
      institution: "Arizona State University",
      description: `4.0 GPA. Focus on theoretical mathematics, math education, and online curriculum development.`,
      logo: ASU,
    },
    {
      time: "2014",
      title: "B.S. - Mathematics",
      institution: "Arizona State University",
      description: `4.0 GPA. Focus on theoretical and applied mathematics.`,
      logo: ASU,
    },
  ].map(async (item) => ({
    ...item,
    logo: item.logo
      ? await getOptimizedImageSrc({ src: item.logo, width: 100 })
      : undefined,
  })),
);

const projects: Project[] = await Promise.all(
  [
    {
      title: "Groqd",
      repoUrl: "https://github.com/FormidableLabs/groqd/",
      description: `A type and runtime safe query builder for the GROQ query language.`,
      image: groqd,
      // imageFit: "contain",
      link: {
        href: "https://formidable.com/open-source/groqd/",
        title: "Check it out",
      },
    },
    {
      title: "Clips",
      repoUrl: "https://github.com/FormidableLabs/clips",
      description: `A screen recording app built with web technologies.`,
      link: {
        href: "https://clips.formidable.dev/",
        title: "Check it out",
      },
      image: Clips,
    },
    {
      title: "Mandelbruh",
      repoUrl: "https://github.com/gksander/mandelbruh",
      description: `A mandelbrot fractal generator built with raw WebGL and Svelte.`,
      link: {
        href: "https://www.mandelbruh.dev/",
        title: "Check it out",
      },
      image: Mandelbruh,
    },
    {
      title: "React Native Zephyr",
      repoUrl: "https://github.com/FormidableLabs/react-native-zephyr",
      description: `TailwindCSS-inspired styling library for React Native.`,
      link: {
        href: "https://formidable.com/open-source/react-native-zephyr/",
        title: "View the docs",
      },
      image: Zephyr,
    },
    {
      title: "Personal PokeDex",
      repoUrl: "https://github.com/gksander/gks-pokedex-next",
      description: `Pokedex site built with Next.js static site generation powered by PokeAPI CSV data.`,
      link: {
        href: "https://pokedex.gksander.com/",
        title: "Check it out",
      },
      image: Pokedex,
    },
    {
      title: "GifMaker",
      repoUrl: "https://github.com/gksander/gif-maker",
      description: `Browser-based FFMPEG video converter. Handy for turning .mov files into GIFs.`,
      link: {
        href: "https://gif-maker.gksander.com/",
        title: "Check it out",
      },
      image: GifMaker,
    },
  ].map(async (item) => ({
    ...item,
    image: item.image
      ? await getOptimizedImageSrc({
          src: item.image,
          width: 900,
        })
      : undefined,
  })),
);
---

<DefaultLayout>
  <ContentContainer class="px-5 pt-12 relative">
    <h1
      class="text-3xl sm:text-4xl md:text-5xl text-gray-700 dark:text-gray-200 p-4 text-center font-bold mb-12"
    >
      I'm Grant.{" "}
      <span class="text-gradient whitespace-nowrap">I like to build.</span>
    </h1>

    <OptimizedImage
      image={portrait}
      alt="Headshot"
      class="w-[450px] mx-auto"
      id="headshot"
    />
  </ContentContainer>
  <AboutBanner />
  <ContentContainer class="flex flex-col gap-32 py-24">
    <BackgroundAndExperience expItems={experiences} edItems={educationItems} />
    <Projects projects={projects} />
    <Content client:visible />
  </ContentContainer>
</DefaultLayout>
