---
import "@fontsource-variable/montserrat";
import BaseHead from "../components/BaseHead.astro";
import { Header } from "../components/Header";
import { Footer } from "../components/Footer";

interface Props {
  title?: string;
  description?: string;
  keywords?: string[];
  image?: string;
}

const {
  title = "Grant Sander",
  description = "Grant Sander's personal site.",
  keywords = [],
  image,
} = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead
      title={title}
      description={description}
      keywords={keywords}
      image={image}
    />
  </head>
  <body class="min-h-screen flex flex-col bg-white dark:bg-gray-800">
    <Header />
    <main class="flex-grow">
      <slot />
    </main>
    <Footer />
  </body>
</html>
